.DivHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: 2% auto;
}
.DivHeader>p{
    display: flex;
    min-width: 6.5rem;
    align-items: center;
    justify-content: space-around;
  
}
.Moon{
  
    width: 1vw;
    height: 1vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../../public/icon-moon.svg');
}
.Sun{
    
    width: 1vw;
    height: 1vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../../public/icon-sun.svg');
  
}
@media screen and(max-width:768px) {
    
    .DivHeader{
        display: flex;
        flex-direction: column;
    }
    .DivHeader>p{
        display: flex;
        min-width: 6.5rem;
        justify-content: space-around;
      
      
    }
    .Moon{
        width: 2vw;
        height:2vw;
        background-position: center;
        
    }
    .Sun{
        width: 2vw;
        height:2vw;
        background-position: center;
    }
}
    

@media screen and (min-width:320px) and (max-width:425px) {
    .DivHeader{
        display: flex;
      justify-content: space-between;
      width: 90vw;
    }
    .DivHeader > p {
         margin-top: 2%;
      
    }
    .Moon{
        width: 5vw;
        height:4.5vw;
        background-position: center;
        background-size: contain;
        margin-left: 2%;
        
    }
    .Sun{
        width: 5.5vw;
        height:5.5vw;
        background-size: cover;
        background-position: center;
        margin-left: 2%;
    }
}

