

.JoinGit{
    position: absolute;
    right: 29.5%;
    top:27.5%;
}
@media (max-width:768px) {
    
    .JoinGit{
        top: 27%;
        right: 55%;
    }
}
@media screen and (min-width:525px) and (max-width:600px) {
    .JoinGit{
       
        top: 24.5%;
        right: 47.8%;
    }
}
@media screen and (min-width:500px) and (max-width:524px) {
    .JoinGit{
       
        top: 24%;
        right: 46.5%;
    }
}

@media screen and (min-width:476px) and (max-width:499px) {
    .JoinGit{
       
        top: 24%;
        right: 46%;
    }
}
@media screen and (min-width:450px) and (max-width:475px) {
    .JoinGit{
       
        top: 24%;
        right: 44%;
    }
}

@media screen and (min-width:426px) and (max-width:449px) {
    .JoinGit{
       
        top: 23%;
        right: 43%;
    }
}

@media screen and (min-width:400px) and (max-width:425px) {
 
    .JoinGit{
        top: 23.5%;
        right: 42%
    }
}
@media screen and (min-width:376px) and (max-width:400px) {
 
    .JoinGit{
        top: 23%;
        right: 40%;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {
    .JoinGit{
        right: 30%;
        top: 16%;
    }
}
