

.JoinGit{
    position: absolute;
    right: 29.5%;
    top:29.5%;
}
@media screen and (min-width:1024px) and (max-width:1400px)  {
    
    .JoinGit{
        top: 24%;
        right: 20%;
    }
}
@media screen and (min-width:768px) and (max-width:1024px)  {
    
    .JoinGit{
        top: 24.5%;
        right: 26%;
        font-size: 10px;
    }
}
@media screen and (min-width:525px) and (max-width:768px) {
    .JoinGit{
       
        top: 25%;
        right: 43.5%;
    }
}
@media screen and (min-width:500px) and (max-width:524px) {
    .JoinGit{
       
        top: 24%;
        right: 46.5%;
    }
}

@media screen and (min-width:476px) and (max-width:499px) {
    .JoinGit{
       
        top: 24%;
        right: 46%;
    }
}
@media screen and (min-width:450px) and (max-width:475px) {
    .JoinGit{
       
        top: 24%;
        right: 44%;
    }
}

@media screen and (min-width:425px) and (max-width:449px) {
    .JoinGit{
       
        top: 23%;
        right: 33%;
    }
}

@media screen and (min-width:400px) and (max-width:425px) {
 
    .JoinGit{
        top: 23.5%;
        right: 34%
    }
}
@media screen and (min-width:376px) and (max-width:400px) {
 
    .JoinGit{
        top: 23%;
        right: 40%;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {
    .JoinGit{
        right: 30%;
        top: 16%;
    }
}
