:root{
    --body-bg-color: #141d2f;
    --inner-bg-color: #1e2a47;
    --logo-color: #fff;
    --secondry-text-color: #fff;
    --secondry-heading-color: #fff;
}
:root body.light-theme{
  --body-bg-color: #141d2f;
  --inner-bg-color: #1e2a47;
  --logo-color: #fff;
  --secondry-text-color: #fff;
  --secondry-heading-color: #fff;
}

body{
  background-color: var(--body-bg-color);
}