*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.DivInput{
display: relative;
width: 50vw;
margin: 0 auto;

}
.DivInput >input{
    width: 50vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--inner-bg-color);
   
}
.DivInput >button{
    position: absolute;
    top: 16%;
    right: 26%;
    height: 3vh;
    width: 5vw;
    border-radius: 5px;
    border: none;
    background-color: var(--btn-primary-bg);
    color: var(--secondry-heading-color);
    transition: all,ease-in,.3s;
}
.DivInput >button:hover{
    color: var(-btn-primary-bg);
}

@media (max-width:768px) {
    
    .DivHeader{
        display: flex;
        flex-direction: column;
    }
    .DivInput{
        margin-left: 15%;
    }
    .DivInput >input{
            width: 70vw;
            height: 5vh;
            border-radius: 5px;
            border: none;
            background-color: var(--inner-bg-color);
            
           
        }

        .DivInput >button{
           
            top: 16.5%;
            right: 16%;
            height: 3vh;
            width: 20vw;
            font-size: 12px;
        }
}
@media (max-width:700px) {
 
    .DivInput >button{
        position: absolute;
        top: 15.6%;
        right: 17%;
        height: 3vh;
        width: 20vw;
        font-size: 12px;
    }
}
@media (max-width:620px) {
 
    .DivInput >button{
        position: absolute;
        top: 15.25%;
        right: 17%;
        height: 3vh;
        width: 20vw;
        font-size: 12px;
    }
}
@media (max-width:580px) {
 
    .DivInput >button{
        position: absolute;
        top: 15%;
        right: 17%;
        height: 3vh;
        width: 20vw;
        font-size: 12px;
    }
}
@media (max-width:520px) {
 
    .DivInput >button{
        position: absolute;
        top: 14.6%;
        right: 17%;
        height: 3vh;
        width: 20vw;
        font-size: 12px;
    }
}
@media (max-width:480px) {
 
    .DivInput >button{
        position: absolute;
        top: 14.5%;
        right: 17%;
        height: 3vh;
        width: 20vw;
        font-size: 12px;
    }
}
@media (max-width:420px) {
 
    .DivInput >button{
        position: absolute;
        top: 14%;
        right: 17%;
        height: 3vh;
        width: 20vw;
        font-size: 12px;
    }
}
@media (max-width:370px) {
 
        .DivInput >button{
            position: absolute;
            top: 13.7%;
            right: 17%;
            height: 3vh;
            width: 20vw;
            font-size: 12px;
        }
}

@media (max-width:320px) {
    .DivHeader{
        display: flex;
        flex-direction: column;
    }
    .DivInput{
        margin-left: 15%;
    }
    .DivInput >input{
            width: 70vw;
            height: 5vh;
            border-radius: 5px;
            border: none;
            background-color: var(--inner-bg-color); 
        }

        .DivInput >button{
            position: absolute;
            top: 14%;
            right: 17%;
            height: 3vh;
            width: 20vw;
            font-size: 12px;
        }
}


